* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body {
    font-family: sans-serif;
}
nav {
    background-color: rgb(14, 13, 13);
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 1;
}
label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
.menu-urls {
    float: right;
    margin-right: 20px;
    font-family: 'Dosis', sans-serif;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
}
nav ul li a:hover {
    color:rgb(223, 154, 26);
    transition: .6s;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display:none;
}
#check {
    display:none;
}
h1 {
    position: relative;
    text-align: center;
    top:100px;
    padding: 30px 0px;
}
.textos li {
    position: relative;
    text-align: left;
    top: 80px;
    padding: 20px 100px;
}
@media (max-width: 952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}
@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    .menu-urls {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgb(14, 13, 13);
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #check:checked ~ .menu-urls {
        left: 0;
    }
    #check:checked ~ .checkbtn {
        color:rgb(223, 154, 26);
        transition: .5s;
    }
    .textos li {
    padding: 20px 10px;
}
}
